 
 
 body{
  margin: 0;
 }


/* NavBar.jsx styling */
 .navDiv{
  background-color: #effcff;
  box-shadow: 0px 0px 5px 5px rgb(195, 194, 194);

 }

 
.navLogo{
  height: 100px;
  margin-left: 5vw;
  
 }