/* @media (min-width: 768px) {
  .container {
    display: flex;
  }
} */

body {
  margin: 0;
  border: 15px solid orange;
}

 

/* NavBar.jsx styling starts*/
.navDiv {
  background-color: #effcff;
  box-shadow: 0px 0px 5px 3px rgb(220, 219, 219);
  width: 100%;
}

.navLogo {
  height: 80px;
  margin-left: 5vw;
}

/* NavBar.jsx styling ends*/

/* SideText.jsx and SideImage.jsx styling starts */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sideText {
  flex-basis: 40%;
  margin: 20px;
  border: 1px black solid;
  flex: 1;
 }

.sideImage {
  flex-basis: 40%;
  margin: 20px;
  border: 1px black solid;
  flex: 1.5;
}

.sideImage img {
  width: 40rem;
}
 
.flagImg {
  width: 2rem;
  /* border: 1px black solid; */
}
