body {
  margin: 0;
}

/* NavBar.jsx styling starts*/
.navDiv {
  background-color: #effcff;
  box-shadow: 0px 0px 5px 3px rgb(220, 219, 219);
}

.navLogo {
  height: 80px;
  margin-left: 5vw;
}

/* NavBar.jsx styling ends*/

/* SideText.jsx and SideImage.jsx styling starts */
.container{
  width: 100%;
  display: flex;
}
 